<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')" ng-cloak="" style="width: 260px;min-width: 260px;">
	        
	
	<div>
	  <p align="center">
	    <!-- <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button> -->
	    <!-- <md-button class="btn btn-default btn-sm" ng-click="" style="background-color: blue;color:white;">Home</md-button> -->
	    <md-subheader class="md-primary" style="color:black;font-size:medium">
	    
	    <u><a ui-sref="home">Home</a></u>
	    
	    </md-subheader>
	  </p>
	  
	  <accordion close-others="oneAtATime">
	    <!-- <accordion-group heading="Home">
	      
	    </accordion-group> -->
	    <accordion-group heading="Provisioning" is-disabled="status.isFirstDisabled">
	      <ul>
	        <li><a ng-click="app.open()" href="#">IaaS</a></li>
	        <li><a ui-sref="login">Login Test</a></li>
	        <li>PaaS</li>
	        <li>Application</li>
	      </ul>
	    </accordion-group>
	    <accordion-group heading="Metrics">
	      <ul>
	        <li><a ui-sref="login">DevOps Dashboard 2</a></li>
	        <li>Infrastructure Dashboard</li>
	        <li>Performance Dashboard</li>
	        <li><a href="#">SOC Dashboard (Security Operations Center)</a></li>
	        <li>NOC Dashboard (Network Operations Dashboard)</li>
	        <li>Project Management Dashboard</li>
	      </ul>
	    </accordion-group>
	  </accordion>
	</div>
	
	<img src="assets/images/NewLogoTransparant.png" height="50%">
	</md-sidenav>